.body {
    margin: 0px;
}

.box {
    width: 280px;
    height: 330px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.h2 {
    font-family: "Calibri Light", sans-serif;
}

.p {
    font-family: "Calibri Light", sans-serif;
    display: flex;
    text-align: center;

    font-size: 20px;

    line-height: 30px;
    color: grey;
}

.button {
    height: 45px;
    width: 190px;
    border: solid 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 0) and (max-width: 900px) {
    .bigbox {
        flex-direction: column;
        height: auto;
    }

    .box {
        padding-bottom: 20px;
    }

}

.zagolovok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
