html {
    height: 100%;

}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;

}

.main {
    flex-direction: column;

    gap: 17px;
    color: white;
    margin: 17px;
}

.three_in {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.main, .top, .bottom, .little_one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.little_one {
    width: 155px;
    height: 205px;
    background-color: #16457A;
}

.top {
    width: 500px;
    height: 205px;
    background-color: #2269BB;
}

.bottom {
    width: 500px;
    height: 410px;
    background-color: #2269BB;
}





